.partners {
    height: 420px;
    width: 100%;
    flex-shrink: 0;
    background-color: #00C6FF;
    background-image: url('../../assets/Rectangle20.png'), url('../../assets/Rectangle25.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    
}

.partnerCards {
    background: #F9F9F9;
    box-shadow: 0px 2px 34px 0px rgba(0, 0, 0, 0.15);
}

.backgroundShape {
    width: 507px;
    height: 464px;
}